
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@300&family=Roboto:wght@300&family=Ysabeau:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau',sans-serif;
}

body{
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
}
.navbar1{
    display: flex;
    width: 85%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-top: 30px;
    margin-left: 80px;
}
.bi-list{
    display: none;
}
.navbar1 h6{
    font-size: 15px;
}
.navbar1 ul li{
    font-size: 20px;
    list-style: none;

}
.nav-icon{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.navbar2 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
    margin-bottom: 20px;
    margin-left: 250px;
    font-weight: 400;
}
.navbar2 ul li:hover{
    text-decoration: underline;
}
.carousel-item img{
    filter: contrast(60%);
}
.carousel-caption h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}
.carousel-caption button{
    height: 50px;
    width: 150px;
    border: none;
    background-color: white;
}
.cart{
    width: 80px;
    height: 80px;
    position: fixed;
    border: 1px solid gray;
    right: 2px;
    top: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px  gray;
}
.cart img{
    width: 50px;
    margin-top: 15px;
    margin-left: 15px;
}
.cart p{
    margin-top: 10px;
    margin-left: 10px;
}
.end{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    color: white;
    box-shadow: 1px 1px 1px 1px gray;
    border: none;
    border-radius: 10px;
    background-color: rgb(9, 199, 9);
    position: fixed;
    top: 90%;
}
.add{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add h4{
    font-weight: 400;
    margin-left: 40px;
}
.image{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.image-block{
    width: 290px;
    height: 360px;
}
.image img{
    width: 290px;
    height: 280px;
}
.image-text{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.image-text a{
    color: black;
    text-decoration: none;
}
.image-text p{
    color: gray;
}
.classic{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
.classic1{
    width: 450px;
    height: 500px;
    filter: contrast(60%);
    background-image: url("./Something-Sparkly_5de30042-463a-4e0e-acac-35b7c3e14970_750x960_crop_center.webp");
    background-position: center;
    background-size: cover;
}
.classs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.classs h3{
    font-size: 30px;
    color: white;
}
.classs button{
    margin-top: 30px;
    width: 120px;
    height: 40px;
    background-color: white;
    border: none;
}
.classic2{
    width: 450px;
    height: 500px;
    filter: contrast(60%);
    background-image: url("./Ronder-5th_750x960_crop_center.webp");
    background-position: center;
    background-size: cover;
}
.classic3{
    width: 450px;
    height: 500px;
    filter: contrast(60%);
    background-image: url("./uddb_750x960_crop_center.webp");
    background-position: center;
    background-size: cover;
}
.card-image{
    width: 85%;
    height: 500px;
    display: flex;
    margin-left: 100px;
    margin-top: 80px;
}
.card-img{
    width: 40%;
    height: 500px;
    background-image: url("./WhatsApp_Image_2019-08-22_at_1.16.03_AM_1000x.webp");
    background-position: center;
    background-size: cover;
}
.card-text{
    width: 98%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-text h3{
    font-size: 22px;
    font-weight: 400;
    margin-top: 80px;
}
.card-text p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 20px;
}
.about{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.about1{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-left: 490px;
}
.about h4{
    font-size: 24px;
}
.about h6{
    margin-top: 6px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
    color: gray;
}
.about2 h3{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}
.light{
    width: 100%;
    height: 600px;
    margin-top: 80px;
    display: flex;
    margin-bottom: 60px;
}
.light1{
    width: 350px;
    height: 400px;
    margin-left: 250px;
}
.light1 img{
width: 350px;
}
.resbutton{
    visibility: hidden;
}
.light2{
    width: 250px;
    height: 400px;
    margin-left: 80px;
    margin-top: 60px;
}
.light2 img{
    width: 250px;
}
.light2 a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.light2 p{
    color: gray;
    margin-left: 60px;
}
.light2 button{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 15px;
    margin-top: 30px;
    background-color: rgb(252, 121, 252);
}
footer{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}
.footer1{
    width: 60%;
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer1 ul h6{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer1 ul li{
    list-style: none;
    margin-top: 10px;
}
.footer1 ul li a{
    text-decoration: none;
    color: gray;
}
.footer1 ul p{
    font-size: 18px;
    margin-top: 20px;
}
.footer1 span{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.foot{
    margin-top: 100px;
    margin-left: 50px;
}
.foot h6{
    font-size: 13px;
    font-weight: 400;
}
.foot p{
    margin-left: 60px;
}




@media(max-width:768px){
    nav{
        width: 100%;
        height: 90px;
    }
    .navbar1{
        width: 100%;
        height: 30px;
        margin-left: -10px;
    }
    .navbar1 h6{
        display: none;
    }
    .navbar2{
        display: none;
    }
    .bi-list{
        display: block;
        font-size: 30px;
    }
    .bi-person{
        display: none;
    }
    .nav-icon{
        margin-left: -70px;
    }

    .carousel-item{
        width: 100%;
        height: 600px;
    }
    .carousel-item img{
        width: 90%;
        height: 600px;
    }
    .image{
        width: 100%;
        height: auto;
    }
    .image-block{
        width: 270px;
        height: auto;
        margin-left: -20px;
    }
    .image-block img{
        width: 270px;
    }
    .classic{
        width: 100%;
        height: auto;
    }
    .classic1{
        width: 400px;
    }
    .classic2{
        width: 400px;
        margin-top: 30px;
    }
    .classic3{
        width: 400px;
        margin-top: 30px;
    }
    .card-image{
        width: 100%;
        height: auto;
    margin-left: 1px;
    margin-top: 30px;
    background-image: url("./WhatsApp_Image_2019-08-22_at_1.16.03_AM_1000x.webp");
    background-position: right;
    background-size: cover;
    }
    .card-img{
        background-image: none;
        
    }
    .card-text{
        width: auto;
        height: auto;
        color: white;
        margin-left: 10px;
        margin-right: 90px;
        text-align: justify;
    }
    .about{
        width: 80%;
    }
    hr{
        width: 96%;
    }
    .about1{
        width: 400px;
        text-align: center;
        margin-left: 50px;
        margin-bottom: -60px;
    }
    .about2 {
        margin-top: -20px;
    }
    .light{
        width: 100%;
    }
    .light1{
        width: 100%;
        height: auto;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }
    .resbutton{
        width: 80%;
        height: 50px;
        visibility: visible;
        margin-top: 30px;
        border: none;
        background-color: pink;
    }
    .light2{
        display: none;
    }
    .footer{
        width: 100%;
    }
    .footer1{
        width: 90%;
        margin-left: 30px;
    }
    .cont{
        margin-top: 30px;
        width: 100%;
    }
    .cont p{
        color: gray;
    }
    .foot{
        text-align: center;
    }
    

}